// .pagination-controls {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 15px;
//     margin-top: 60px;
  
//     button {
//       background: white;
//       border: 1px solid #eee;
//       width: 45px;
//       height: 45px;
//       border-radius: 50%;
//       cursor: pointer;
//       transition: all 0.2s;
//       display: flex;
//       align-items: center;
//       justify-content: center;
  
//       &:hover:not(:disabled) {
//         border-color: #00d1ff;
//         color: #00d1ff;
//       }
  
//       &:disabled { opacity: 0.3; cursor: not-allowed; }
//     }
  
//     .page-info {
//       font-weight: 600;
//       color: #555;
//       font-size: 1.1rem;
//     }
//   }
.pagination-controls {
    max-width: 300px;
    margin: 2rem auto;
    border: 1px solid var(--surface-border);
    
    span {
      color: var(--text-color);
    }
  }