/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f7f777;
    direction: rtl;
}

/* styles.scss */
:root {
    /* צבע המסגרת במיקוד (Focus) */
    --p-select-focus-border-color: #46d9e1 !important;
    
    /* הצבע של האופציה שנבחרה בתוך הרשימה */
    --p-select-option-selected-background: rgba(59, 234, 246, 0.15) !important;
    --p-select-option-selected-color: #46d9e1 !important;
    .p-button.p-button-primary:not(:disabled):hover {
        background: #46d9e1c0 !important;  /* הטורקיז של ה-Hover */
        border-color: #46d9e1c3 !important;
        color: #faf9f9 !important;
    }
    /* צבע הטקסט והרקע כשמרחפים מעל אופציה שנבחרה */
    --p-select-option-selected-focus-background: #0fd0dae4 !important;
    --p-button-primary-hover-background: #2ed2de !important; /* טורקיז מעט כהה יותר מהרגיל */
    
    /* צבע הצ'ק המופיע ליד האופציה הנבחרת (אם קיים) */
    --p-primary-color: #46d9e1cd !important;
    .p-button {
        transition: background-color 0.3s, transform 0.2s !important;
        
        &:hover {
            transform: translateY(-2px); /* קפיצה קטנה למעלה בריחוף */
        }
        
        &:active {
            transform: translateY(0); /* חזרה למקום בלחיצה */
        }
    }
    /* צבע הכפתור בזמן ריחוף (Hover) - טורקיז מעט כהה יותר */
    --p-button-primary-hover-background: #0fcfda !important;
    --p-button-primary-hover-border-color: #46d9e1 !important;
    --p-button-primary-hover-color: #000000 !important;

    /* צבע הכפתור בזמן לחיצה (Active) */
    --p-button-primary-active-background: #46d9e1a7 !important;
    --p-button-primary-active-border-color: #46d9e1b6 !important;
}
